<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunyard.mylibrary">

    <application>
        <activity android:name=".ActivityInterceptor"></activity>
        <activity android:name=".ActivityIntentData" />
        <activity android:name=".ActivityResult" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>